OBSIDIAN_PATH=""
BIRTHDAY="YYYY/MM/DD"
DAILY_NOTES_FOLDER=""
CUSTOM_FORMAT=""
DAILY_NOTE_TEMPLATE=""
GITHUB_USERNAME="AndrewRoddy"
GITHUB_NAME=""
GITHUB_PAT=""
TIME_ZONE="America/New_York"
GITHUB_START="DO_NOT_EDIT"
GITHUB_LAST_UPDATE="DO_NOT_EDIT"

